.loader-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: color-mix(in srgb, var(--mat-sys-surface) 50%, transparent);
  width: 100%;
  height: 100%;
  gap: 16px;
}

.loader-text {
  margin: 0;
  color: var(--mat-sys-on-surface);
  font-size: var(--mat-sys-body-medium);
  font-weight: 500;
}
