.list-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin: 16px;
}

.list-viewport {
    height: 600px;
    width: 800px;
    border: 1px solid var(--mat-sys-outline);
}
  
.list-item {
    min-height: 35px;
    border-bottom: 1px dotted var(--mat-sys-outline);
    padding: 8px 16px;
    display: flex;
    box-sizing: border-box;
    transition: background-color 0.2s;
    font-family: Monaco, Consolas, "Courier New", monospace;
    font-size: 13px;
    line-height: 18px;
}

.list-item:hover {
    background-color: var(--mat-sys-secondary-container);
}
